# This workflow runs continuous CI across different versions of ruby on all branches and pull requests to develop.

name: CI
on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ develop ]
  workflow_dispatch:

jobs:
  tests:
    name: Ruby ${{ matrix.ruby }}
    if: "contains(github.event.commits[0].message, '[ci skip]') == false"
    runs-on: ubuntu-latest
    env:
      CI: true
      VIRTUOSO_INTEGRATION_TESTS: true
      ALLOW_FAILURES: ${{ endsWith(matrix.ruby, 'head') }}
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - 2.6
          - 2.7
          - 3.0
          - ruby-head # Eventualy
          - jruby
    services: 
      virtuoso:
        image: tenforce/virtuoso
        env:
          DBA_PASSWORD: tester
          SPARQL_UPDATE: true          
        ports:
          - 8890:8890
          - 1111:1111
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Install dependencies
        run: bundle install --jobs 4 --retry 3
      - name: Wait to give Virtuoso a little extra time
        uses: juliangruber/sleep-action@v1
        with:
          time: '3s'
      - name: Run tests
        run: ruby --version; bundle exec rspec spec || $ALLOW_FAILURES
 
